<%- include('templates/header.ejs') %>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<br><h2> <%- title %> </h2><hr>
		</div>
	</div>
	<p><% %></p>
	<div class="row">

		<div class="col-sm-4" id="motivation" style="border-right: 1px solid #D3D3D3;">Understanding how entire genomes, which represent the whole biological sequence of an organism, rather than individual genes, influence the development of a species biology is a powerful process into making public health more responsive and widely available. This often requires processing extremely large amounts of loosely organized data and apply a large number of software tools. The scarcity of high performance and scalable computational resources to do so, directly influences the flexibility of the currently used tools.  </div>

		<div class="col-sm-4" id="gen_info" style="border-right: 1px solid #D3D3D3;">Analysis at the genome level is crucial to understand the origin and treatment of cancer.<br>Even with all the potential applications mentioned above the lack of scalable resources and platforms for genome related investigation, study and research still represents a limitation to building these systems. Given the resource scarcity associated with the mentioned field, it will also be the main motivation behind this dissertation project. Another goal relates to the development of a standardized format for genome information representation.</div>

		<div class="col-sm-4" id="other_info" ">Having the ability to perform such studies demands heavy computational capacity which demands FEUP's servers to be hosted. Having this web services already developed allows for the platform to retrieve the resulting data after retaining the researchers input.<br>
			A standardized representational language for Data Mining will also be proposed as the web application aims to provide several data mining services to its users.</div>
		</div>

	</div>
</div>

<!-- FOOTER -->
<%- include('templates/footer.ejs') %>