<!-- HEADER -->
<%- include('templates/header.ejs') %>

<div class="container">
	<ul class="list-group">
		<li class="list-group-item"> <a href="/apis/ensembl">Ensembl</a> </li>
		<li class="list-group-item"> <a href="/apis/pdb">PDB</a> </li>
		<li class="list-group-item"> <a href="/apis/kegg">Kegg</a> </li>
		<li class="list-group-item"> <a href="/apis/chemspider">ChemSpider</a> </li>
		<li class="list-group-item"> <a href="/apis/cbio_cgds">cBio CGDS</a> </li>
	</ul>
</div>


<!-- FOOTER -->
<%- include('templates/footer.ejs') %>