<%- include('templates/header.ejs') %>

<div class="container">
	<ul class="list-group">
		<li class="list-group-item"> <a href="/studies/species_ex">Species genome WS</a> </li>
		<li class="list-group-item"> <a href="/studies/species_ex2">Protein network WS</a> </li>
		<li class="list-group-item"> <a href="">Kegg organisms WS</a> </li>
	</ul>
</div>


<!-- FOOTER -->
<%- include('templates/footer.ejs') %>