<!-- HEADER -->
<%- include('../templates/header.ejs') %>

<div class="container">
	<ul class="list-group">
		<li class="list-group-item"> <a href="/ensembl/ens_sequence">Gene Sequence</a> </li>

	</ul>
</div>


<!-- FOOTER -->
<%- include('../templates/footer.ejs') %>